// FONT-SIZE
// Este mixin genera font-size con unidad rem y reemplazo de seguridad px
///////////////////////////////////////////////////////////////////////////////

@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// BOX RESET
// Resetea border, margin y padding
///////////////////////////////////////////////////////////////////////////////

@mixin box-reset() {
  margin: 0;
  padding: 0;
  border: 0 none;
}