// COLORES
///////////////////////////////////////////////////////////////////////////////

$light-blue: #A4DBE8;
$medium-blue: #00AFD7;
$dark-blue: #0085A3;
$uoc-blue: #153E4B;

$lighter-gray: #F0F0F0;
$light-gray: #DDD;
$medium-gray: #B2B4B2;
$dark-gray: #54585A;

$red: #F04848;
$yellow: #ECBD0C;
$orange: #FF8200;
$light-orange: #FECB8B;
$green: #82BC00;
$purple: #753BBD;

// COLORES USADOS EN TEXTO
$base-font-color: $dark-gray;
$base-accent-color: $dark-blue;

// COLORES USADOS EN ENLACES
$base-link-color: $base-accent-color;
$hover-link-color: $orange;

// COLORES DE BORDES
$base-border-color: $uoc-blue;

// TIPOGRAFÍA
///////////////////////////////////////////////////////////////////////////////

$sans-serif: Lato, Arial, sans-serif;
$serif: Georgia, 'Times New Roman', serif;

$base-font-family: $sans-serif; // Tipografía para cuerpos de texto
$header-font-family: $sans-serif; // Tipografía para encabezados

// TAMAÑOS
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em; // Tamaño base para textos
$base-line-height: $base-font-size * 1.5; // Tamaño estándar para line-height
$base-border-radius: 3px; // Tamaño estándar para border-radius

// BREAKPOINTS
///////////////////////////////////////////////////////////////////////////////

$small-screen: em(640);
$medium-screen: em(768);
$large-screen: em(960);

$max-width: 974px; // Ancho máximo de página