#
# Compass Configuration
#
require 'bourbon-compass'
require 'neat-compass'

# HTTP paths
http_path             = '/'
http_stylesheets_path = '/stylesheets'
http_images_path      = '/images'
http_javascripts_path = '/javascripts'

# File system locations
sass_dir              = 'sass'

if ENV['RACK_ENV'] != 'production'
  css_dir             = 'public/stylesheets'
  images_dir          = 'public/images'
  javascripts_dir     = 'public/javascripts'
else
  # Heroku needs these
  css_dir             = 'tmp/stylesheets'
  images_dir          = 'tmp/images'
  javascripts_dir     = 'tmp/javascripts'
end

# Set to true for easier debugging
line_comments         = false

# CSS output style - :nested, :expanded, :compact, or :compressed
output_style          = :expanded

# Determine whether Compass asset helper functions generate relative
# or absolute paths
relative_assets       = true

# Force autoprefixer
require 'autoprefixer-rails'

on_stylesheet_saved do |file|
  css = File.read(file)
  map = file + '.map'

  if File.exists? map
    result = AutoprefixerRails.process(css,
      from: file,
      to:   file,
      map:  { prev: File.read(map), inline: false })
    File.open(file, 'w') { |io| io << result.css }
    File.open(map,  'w') { |io| io << result.map }
  else
    File.open(file, 'w') { |io| io << AutoprefixerRails.process(css) }
  end
end

# Learn more:
#   http://compass-style.org/docs/tutorials/configuration-reference/
