!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en" >
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title 
      = @title
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}
    %script{:src => "/javascripts/vendor/custom.modernizr.js"}
  %body
    .l-container
      .l-header
        .l-header__brand
          %h2 LLEW Practica Final
          %p Delicious ERB, Haml + Sass
        .l-header__nav
          %nav
            %ul.list--inline
              %li.active
                %a{:href => "/"}
                  Inici
              %li
                %a{:href => "/revistes"}
                  Revistes
              %li
                %a{:href => "#"}
                  Coneixement en xarxa
              %li
                %a{:href => "#"}
                  Blogs
              %li
                %a{:href => "#"}
                  Materials Oberts
              %li
                %a{:href => "#"}
                  Videos
      %hr
    .l-container
      =yield

    %footer.l-footer
      %nav.l-footer__nav
        %ul.list--inline
          %li
            %a{:href => "/"}
              Home
          %li
            %a{:href => "/about"}
              About
          %li.active
            %a{:href => "/contact"}
              Contact
      .l-footer__credits
        Published with
        = succeed "." do
          %a{href: "http://get-serve.com/", rel: "external", title: "Go to the Serve website"} Serve

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery.js"><\/script>')
    %script{:src => "javascripts/main.js"}
    
    