!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title 
      = @title
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}
  %body
    %header.l-header
      .l-container
        .l-header__logo
          %a{:href => "/", title:"Anar a la pàgina d'inici"}
            %img{src:"/images/uoc-20anys.png", alt:"Logo UOC"}
        .l-header__lang
          %ul.list--inline
            %li
              %a.button--small.button--active{:href => "#", :title => "Llegir en català"}
                Ca
            %li
              %a.button--small{:href => "#", :title => "Llegir en castellà"}
                Es
            %li
              %a.button--small{:href => "#", :title => "Llegir en anglés"}
                En
      .l-header__hero
        %h1
          Coneixement Obert
      %nav.l-header__nav
        %ul.list--inline
          %a{:href => "/"}
            %li.active
              Inici
          %a{:href => "/revistes"}
            %li
              Revistes
          %a{:href => "#"}
            %li
              Coneixement en xarxa
          %a{:href => "#"}
            %li
              Blogs
          %a{:href => "#"}
            %li
              Materials Oberts
          %a{:href => "#"}
            %li
              Vídeos
        
    %main.l-container
      =yield

    %footer.l-footer
      .l-container
        .l-footer__credits
          .credits
            %p
              Treball realitzat com a Pràctica final de l'assignatura Llenguatges i estàndards web, 2015
            %p
              Carlos Cuéllar Francés

          %img{src:"/images/uoc-20anys-footer.png", alt:"Logo UOC 20 anys"}
        
          %ul.list--sprites
            %li
              %a.facebook{:href => "https://www.facebook.com/UOC.universitat", :title => "La UOC a Facebook"}
                Facebook
            %li
              %a.twitter{:href => "https://twitter.com/UOCuniversitat", :title => "La UOC a Twitter"}
                Twitter
          

        .l-footer__nav
          %h3
            Sobre la UOC
          %ul.list--unstyled
            %li
              %a{:href => "http://www.uoc.edu/portal/ca/index.html"}
                Web de la UOC
            %li
              %a{:href => "http://www.uoc.edu/portal/ca/universitat/contacte-seus/index.html"}
                Contacte i seus 
          %h3
            En aquest web
          %ul.list--unstyled
            %li
              %a{:href => "/revistes"}
                Revistes
            %li
              %a{:href => "/revistes"}
                Coneixement en xarxa
            %li
              %a{:href => "/revistes"}
                Blogs
            %li
              %a{:href => "/revistes"}
                Materials oberts
            %li
              %a{:href => "/revistes"}
                Vídeos
      

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery.js"><\/script>')
    %script{:src => "/javascripts/main.js"}
    :javascript
      $(document).ready(function(){
        $(".panel").fitVids();
      });