- @title = "Digithum | Coneixement Obert"

%ul.breadcrumbs
  %li
    %a{:href => "/", title:"Anar a la pàgina d'inici"}
      Inici
  %li
    %a{:href => "/revistes", title:"Anar a revistes"}
      Revistes
  %li
    Digithum