- @title = "Digithum | Coneixement Obert"
%nav
  %ul.breadcrumbs
    %li
      %a{:href => "/", title:"Anar a la pàgina d'inici"}
        Inici
    %li
      %a{:href => "/revistes", title:"Anar a revistes"}
        Revistes
    %li
      Digithum

%article.l-content
  %h2
    Digithum
  %img{src:"/images/digithum.png", alt:"banner revista digithum"}
  %p
    La revista electrònica 
    %strong
      DIGITHUM, 
    adreçada a acadèmics, professionals, estudiants dels diferents camps de les humanitats i les ciències socials, recull articles de recerca i publicació de resultats que responguin als àmbits temàtics següents:
  %ul
    %li
      La societat del coneixement: anàlisi de les transformacions en l'era digital dels objectes d'estudi de les humanitats i les ciències socials.
      %br
      Entenem per societat de la informació o societat del coneixement l'estadi evolutiu actual de la societat en què la utilització generalitzada de les 
      %abbr{title:'tecnologies de la informació i la comunicació'} TIC 
      per a la producció i l'intercanvi d'informació i coneixement determina l'evolució i la transformació de la vida social, política i econòmica especialment, però no exclusivament, als països desenvolupats.
      %br
      La transformació cap a la societat del coneixement repercuteix en els fonaments que organitzen i estructuren les societats de manera que implica diversos processos que configuren un nou context o entorn social. Aquests processos són la globalització econòmica, política, cultural i lingüística; la conversió de la informació en matèria primera, i la reelaboració de la identitat social.
    %li
      Repercussions de les 
      %abbr{title:'tecnologies de la informació i la comunicació'} TIC
      en l'estudi, l'ensenyament i la difusió de les humanitats i les ciències socials.
    %li
      Aplicacions de les 
      %abbr{title:'tecnologies de la informació i la comunicació'} TIC 
      per a l'estudi, l'ensenyament o la difusió de les humanitats i les ciències socials.


%aside.l-aside
  %h3
    Última revista: Número 16 Maig, 2014
  %ul
    %li
      %a{:href => "/revistes/digithum/editorial"}
        Editorial
    %li
      %a{:href => "#"}
        Els nous parlants de llengües minoritàries: pertinences i legitimitats
    %li
      %a{:href => "#"}
        Nous parlants de basc: identitat i legitimitat
    %li
      %a{:href => "#"}
        Perfils de neoparlants de gallec
    %li
      %a{:href => "#"}
        La conversió en nous parlants d’irlandès: les mudes lingüístiques al llarg del cicle vital
    %li
      %a{:href => "#"}
        La construcció de desigualtats en espais bilingües: l’ensenyament del català a dones immigrants

  %h3
    Números anteriors 
  %ul
    %li
      %a{:href => "#"}
        Número 15. Maig, 2013
    %li
      %a{:href => "#"}
        Número 14. Maig, 2012
    %li
      %a{:href => "#"}
        Número 13. Maig, 2011
    %li
      %a{:href => "#"}
        Número 12. Maig, 2010
    %li
      %a{:href => "#"}
        Número 11. Maig, 2009
    %li
      %a{:href => "#"}
        Número 10. Maig, 2008
    %li
      %a{:href => "#"}
        Número 9. Maig, 2007
    %li
      %a{:href => "#"}
        Número 8. Maig, 2006
    %li
      %a{:href => "#"}
        Número 7. Maig, 2005
    %li
      %a{:href => "#"}
        Número 6. Maig, 2004
    %li
      %a{:href => "#"}
        Número 5. Maig, 2003
    %li
      %a{:href => "#"}
        Número 4. Maig, 2002
    %li
      %a{:href => "#"}
        Número 3. Maig, 2001
    %li
      %a{:href => "#"}
        Número 2. Maig, 2000
    %li
      %a{:href => "#"}
        Número 1. Maig, 1999