- @title = "Digithum | Coneixement Obert"

%h1 Contact

%form
  %fieldset
    %legend
      Optional form legend
    %p
      %label
        Text input
      %input{type: "text", value: "default value that goes on and on without stopping or punctuation"}/
    %p
      %label
        Email address
      %input{placeholder: "Enter email", type: "email"}/
    %p
      %label
        Search input
      %input{placeholder: "Search things...", type: "search"}/
    %p
      %label
        Tel input
      %input{type: "tel"}/
    %p
      %label
        %span.caps URL
        input
      %input{placeholder: "http://", type: "url"}/
    %p
      %label
        Password input
      %input{type: "password", value: "password"}/
    %p
      %label
        Input disabled
        %input{disabled: "disabled", placeholder: "Disabled input here...", type: "text"}/
    %p
      %label{for: "date"}
        Date
      %input{name: "date", type: "date"}/
    %p
      %label{for: "month"}
        Month
      %input{name: "month", type: "month"}/
    %p
      %label
        Range
      %input{type: "range"}/
    %p
      %label
        Color
      %input{type: "color", value: "#FF8200"}/
    %p
      %label
        File input
      %input{type: "file"}/
    %p
      %label
      %input{name: "rad", type: "radio"}/
      Radio input
    %p
      %label
      %input{type: "checkbox"}/
      Checkbox input
    %p
      %label
        Select field
      %select
        %option Option 01
        %option Option 02
    %p
      %label
        Textarea
      %textarea{cols: "30", rows: "5"} Textarea text
    %p
      %button{type: "submit"} Submit (button)


        