- @title = "Coneixement Obert"

%p
  La universitat que ve és la <a>universitat</a> que viu a internet, que creix, es relaciona i comparteix lliurement el coneixement en benefici de tota la societat. Com a primera universitat de la societat del coneixement, la UOC vol retornar el coneixement que ha generat al conjunt d'aquesta societat.
.l-container
  .panel
    %img{src:"/images/tipus-revista.png", alt:""}
    %h2
      Revistes acadèmiques
    %p
      Les revistes digitals impulsades pels Estudis de la UOC
    %a.button--small{:href => "/revistes"}
      Llegeix-ne més
  .panel
    %img{src:"/images/tipus-xarxa.png", alt:""}
    %h2
      Coneixement en xarxa
    %p
      Webs de difusió del coneixement impulsats o coimpulsats per la UOC i altres institucions de sectors afins
    %a.button--small{:href => "#"}
      Llegeix-ne més
  .panel
    %img{src:"/images/tipus-blog.png", alt:""}
    %h2
      Blogs
    %p
      Blogs impulsats per Estudis, professors, investigadors, projectes o àrees de gestió de la UOC.
    %a.button--small{:href => "#"}
      Llegeix-ne més
  .panel
    %img{src:"/images/tipus-materials.png", alt:""}
    %h2
      Materials oberts
    %p
      Blogs impulsats per Estudis, professors, investigadors, projectes o àrees de gestió de la UOC.
    %a.button--small{:href => "#"}
      Llegeix-ne més
  .panel
    %img{src:"/images/tipus-video.png", alt:""}
    %h2
      Vídeos
    %p
      Una selecció dels vídeos de la UOC: ponències, xerrades, conferències, entrevistes, debats, reportatges, etc.
    %a.button--small{:href => "#"}
      Llegeix-ne més
  %figure.panel
    %iframe{:allowfullscreen => "", :height => "315", :src => "https://www.youtube.com/embed/5qQuGQUqBVE", :width => "560"}
    %figcaption
      UOC, la primera universitat online del món
