- @title = "Coneixement Obert"

%p
  La universitat que ve és la <a>universitat</a> que viu a internet, que creix, es relaciona i comparteix lliurement el coneixement en benefici de tota la societat. Com a primera universitat de la societat del coneixement, la UOC vol retornar el coneixement que ha generat al conjunt d'aquesta societat.