- @title = "Revistes | Coneixement Obert"
/ Las migas son una lista horizontal incluída dentro de una etiqueta nav
%nav
  %ul.breadcrumbs
    %li
      %a{:href => "/", title:"Anar a la pàgina d'inici"}
        Inici
    %li
      Revistes
/ Cada descripción de revista está incluída dentro de una etiqueta article
%article.revista
  .revista__img
    %img{src:"/images/revistes-digithum.png", alt:"Logo revistes Digithum"}
  .revista__info
    %h2
      Digithum. Les humanitats en l'era digital
    %p
      Revista impulsada pels Estudis d'Arts i Humanitats que difon articles de reflexió o resultats d'investigacions que analitzen les transformacions de les humanitats i les ciències socials en l'era digital.
    %a.button--small{:href => "/revistes/digithum"}
      Llegeix-ne més

%article.revista
  .revista__info
    %h2
      COMeIN
    %p
      Publicació digital impulsada pels Estudis de Ciències de la Informació i de la Comunicació de la UOC. Ofereix accés ple, lliure i gratuït als continguts i s’adreça a totes les persones interessades en els temes vinculats, en un sentit ampli, a les ciències de la informació i la comunicació.
    %a.button--small{:href => "#"}
      Llegeix-ne més
  .revista__img
    %img{src:"/images/revistes-comein.png", alt:"Logo revistes COMeIN"}

%article.revista
  .revista__img
    %img{src:"/images/revistes-bid.png", alt:"Logo revistes BiD"}
  .revista__info
    %h2
      BiD: textos universitaris de biblioteconomia i documentació
    %p
      La Facultat de Biblioteconomia i Documentació de la 
      %abbr{title:'Universitat de Barcelona'} UB 
      i els Estudis de Ciències de la Informació i de la Comunicació de la UOC són els editors d'aquesta revista científica especialitzada en informació i documentació.
    %a.button--small{:href => "#"}
      Llegeix-ne més

%article.revista
  .revista__info
    %h2
      Artnodes, revista d'art, ciència i tecnologia
    %p
      Revista impulsada pels Estudis d'Arts i Humanitats, els Estudis d'Informàtica, Multimèdia i Telecomunicació, i els Estudis de Ciències de la Informació i de la Comunicació. Publica articles científics sobre l'art, la ciència i la tecnologia.
    %a.button--small{:href => "#"}
      Llegeix-ne més
  .revista__img
    %img{src:"/images/revistes-artnodes.png", alt:"Logo revistes Artnodes"}

%article.revista
  .revista__img
    %img{src:"/images/revistes-analisi.png", alt:"Logo revistes Anàlisi"}
  .revista__info
    %h2
      Anàlisi. Quaderns de Cultura
    %p
      Revista impulsada pels Estudis d'Arts i Humanitats, els Estudis d'Informàtica, Multimèdia i Telecomunicació, i els Estudis de Ciències de la Informació i de la Comunicació. Publica articles científics sobre l'art, la ciència i la tecnologia.
    %a.button--small{:href => "#"}
      Llegeix-ne més