// Estos son estilos para impresión. 
// Basados en los estilos de HTML5 Boilerplate https://html5boilerplate.com/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; // Imprime todo en negro
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")"; // Muestra urls de enlaces
  }

  abbr[title]:after {
    content: " (" attr(title) ")"; // Muestra significado de abreviaturas
  }

  // No muestra enlaces vacíos
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  // Reglas para tablas basadas en http://css-discuss.incutio.com/wiki/Printing_Tables
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  // Oculta header y footer para una impresión más limpia
  .l-header,
  .l-footer {
    display: none;
  }

}

