// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
}

// HEADER
.l-header {
  padding: 20px 0;
}

.l-header__logo {
  @include media($small-screen)  {
    @include span-columns(8);
    text-align: left;
    padding: 10px 5px;
  }
  text-align: center;
}

.l-header__lang {
  @include media($small-screen)  {
    @include span-columns(4);
    text-align: right;
    padding: 10px 5px;
  }
  text-align: center;
}

.l-header__hero {
  height: 150px;
  background-image: url('/images/header-home.jpg');
  background-size: cover;
  display: table;
  width: 100%;
  
  span {
    @include font-size(3.2);
    color: #fff;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.l-header__nav {
  padding: 1em;
  text-align: center;
  background-color: #ccc; 
}

// MAIN COLUMN CONTENT
.l-content {
  @include media($small-screen)  {
    @include span-columns(8);
  }
  padding: 10px;
}

// SIDEBAR
.l-aside {
  @include media($small-screen)  {
    @include span-columns(4);
  }
  padding: 10px;
}

// FOOTER
.l-footer {
  @include outer-container;
  @include font-size (1.2);
  padding: 20px 0;
  max-width: 900px;
  border-top: 1px dashed $light-gray;
}

.l-footer__nav {
  @include media($small-screen)  {
    @include span-columns(8);
  }
}

.l-footer__credits {
  @include media($small-screen)  {
    @include span-columns(4);
    text-align: right;
  }
  padding-left: 5px;
}