// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
}

// HEADER
.l-header {
  padding: 20px 0;
}

.l-header__logo {
  @include media($small-screen)  {
    @include span-columns(8);
    text-align: left;
    padding: 10px 5px;
  }
  text-align: center;
}

.l-header__lang {
  @include media($small-screen)  {
    @include span-columns(4);
    text-align: right;
    padding: 10px 5px;
    margin: 0;
  }
  text-align: center;
  margin: 1em;
}

.l-header__hero {
  height: 150px;
  background-image: url('/images/header-home.jpg');
  background-size: cover;
  display: table;
  width: 100%;
  
  h1 {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.l-header__nav {
  text-align: center;
  background-color: $medium-gray; 
}

// MAIN COLUMN CONTENT
main {
  padding: 1em;
}

.l-content {
  @include media($small-screen)  {
    @include span-columns(8);
  }
}

// SIDEBAR
.l-aside {
  @include media($small-screen)  {
    @include span-columns(4);
  }
}

// FOOTER
.l-footer {
  background-color: #141315;
  color: #fff;
  padding: 2em 1em;
  margin-top: 20px;

  a {
    color: #fff;
  }
}

.l-footer__credits {
  @include media($small-screen)  {
    @include span-columns(8);
  }
  @include clearfix;
  .credits {
    float: left;
    margin-bottom: 60px;
  }
}

.l-footer__nav {
  @include media($small-screen)  {
    @include span-columns(4);
    border-left: 1px solid #fff;
    padding-left: 2em;
  }
}