// Llamo paneles a las contenedores grises usados en la página de inicio
.panel {
  @include media($small-screen)  {
    width: 48%;
    margin: 1%;
    float: left;
  }
  margin-bottom: 1em;
  border-radius: $base-border-radius;
  background-color: $lighter-gray;
  padding: 1em;
  height: 350px;
  > img {
    display: block; // Convierto las imágenes en elementos de bloque para poder centrarles después
    margin: 0 auto 0.5em auto;
  }
}
// El video de youtube se encuentra dentro de un panel invisible
figure.panel {
  background-color: #fff;
  padding: 0;
}