.panel {
  @include media($small-screen)  {
    width: 48%;
    margin: 1%;
    float: left;
  }
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: $lighter-gray;
  padding: 1em;
  height: 350px;
  > img {
    display: block;
    margin: 0 auto 0.5em auto;
  }
}

figure.panel {
  background-color: #fff;
  padding: 0;
}

.revista {
  @include clearfix;
  border-bottom: 1px solid $base-border-color;
  margin: 2em 0;
  padding: 1em 0;

  img {
    width: 100%;
  }

  > div {
    @include media($small-screen)  {
      width: 50%;
      padding: 1em;
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }
}